@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* CUSTOM PROPERTIES */

:root {
  /* BACKGROUND */
  --bold-purple: rgb(152, 59, 251);
  --light-purple: rgb(223, 67, 255);
  --white: rgb(250, 250, 250);
  --light-gray: rgb(245, 243, 248);
  --chat-box: rgb(237, 229, 244);

  /* TYPOGRAPHY*/
  --text-purple: rgb(170, 140, 192);
  --text-black: rgb(81, 80, 84);
  --text-grey: rgb(183, 178, 185);
  --text-black: rgb(0, 0, 0);

  --fs-1: 11px;
  --fs-2: 12px;
  --fs-3: 1.2rem;

  /* FONTS */
  --ff-400: 'Rubik', sans-serif;

}

/* utility classes */

.flex {
  display: flex;
}

.container {
  padding-inline: 0.5rem;
}

.clip {
  overflow: hidden;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.block {
  display: block;
}

/* component styling  */

body{ 
	font-family: var(--ff-400);
}

.phone-container {
  width: 18rem;
  margin: auto;
  margin-top: 2rem;
  border-radius: 1.7rem;
  padding-block: 0.5rem;
  background-color: var(--white);
  box-shadow: 13px 5px 3rem rgb(183, 183, 185);
}

.phone-wrap {
  border-radius: 1.2rem;
  background: var(--light-gray);
}

.phone-head {
  background: linear-gradient(90deg, var(--bold-purple), var(--light-purple));
  padding-bottom: 10px;
}

.head-clip {
  background-color: var(--white);
  border-radius: 13px;
  top: -0.7rem;
  margin: auto;
  width: 10rem;
  height: 2rem;
}

.headinfo-wrap img {
  border: 2px solid white;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}

.head-text {
  flex-direction: column;
  color: var(--white);
  /* margin-left: 2rem; */
}

.head-text h2 {
  font-size: var(--fs-1);
  font-weight: 400;
  margin-top: -5px;
}

.headinfo-wrap {
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}

.headinfo-items {
  display: flex;
  align-items: center;
}
.headinfo-items * {
  margin-right: 4px;
}

.chat-box {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.msg-left {
  font-size: var(--fs-1);
  width: 10.3rem;
  background-color: var(--chat-box);
  color: var(--bold-purple);
  border-radius: 5px;
  padding-inline: 0.5rem 2rem;
  margin-bottom: 8px;
}

.msg-right {
  position: relative;
  right: -5rem;
  font-size: var(--fs-1);
  width: 10.3rem;
  background-color: var(--chat-box);
  color: var(--text-black);
  border-radius: 5px;
  padding-inline: 0.5rem 2rem;
  margin-bottom: 8px;
}

.chat-pictures {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.chat-pictures img {
  position: relative;
  right: -5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.msg-select {
  font-size: var(--fs-1);
  width: 10.3rem;
  height: 1.8rem;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, var(--light-purple), var(--bold-purple));
  color: var(--white);
  border-radius: 5px;
  padding-inline: 0.5rem 2rem;
  margin-bottom: 8px;
}

.msg-select span {
  font-size: var(--fs-2);
}

.text-input {
  margin-top: 10px;
  background: var(--white);
  height: 2.5rem;
  border-radius: 2rem;
  overflow: hidden;
}

.text-input input {
  width: 13rem;
  padding-left: 1rem;
}

.text-input input:active,
.text-input input,
.text-input input:focus {
  border: none;
  outline: none;
}

.text-input input::placeholder {
  font-size: var(--fs-1);
  padding-left: 1rem;
  color: var(--text-grey);
}

.text-input i {
  padding-top: 7px;
  margin-left: 9px;
  font-size: 1.6rem;
}

.decor {
  position: absolute;
  left: -1rem;
  top: 0;
  width: 50%;
  height: 90%;
  z-index: -1;
  background: var(--bold-purple);
  border-bottom-right-radius: 20rem;
}

article {
  text-align: center;
  margin: 3rem auto 3rem;
  width: max(50vw, 25rem);
}

article h1 {
  letter-spacing: 1px;
  color: rgb(62, 36, 76);
  font-size: 2.8rem;
}

article p {
  color: rgb(183, 180, 185);
  font-size: 1.3rem;
}

/* DESKTOP RESPONSIVENESS */

@media (min-width: 1000px) {
  .phone-container {
    width: 18rem;
    margin: 0px 0px 0px 20rem;
    margin-top: 2rem;
    border-radius: 1.7rem;
    background-color: var(--white);
    box-shadow: 13px 5px 3rem rgb(183, 183, 185);
  }

  article h1 {
    margin-right: auto;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: max(35vw, 20rem);
  }

  .container-wrap {
    display: flex;
  }

  .decor {
    position: absolute;
    left: -1rem;
    top: 0;
    width: 40%;
    height: 90%;
    z-index: -1;
    background: var(--bold-purple);
    border-bottom-right-radius: 20rem;
    border-bottom-left-radius: 13rem;
  }
}
